@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
:root{
    --primarycolor: #1b1f24;
    --textcolor:#12bdff;
    --primaryfont:font-family: 'Mooli', sans-serif;

}
*
{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:var(--primarycolor);
    display: flex;
    justify-content: space-around;
    padding:20px 10px;  
    color:white;
    
}
.logo{
    
    font-family: var(--primaryfont);
    font-weight: bold;
    color:var(--textcolor);
    text-decoration: underline;
}
.logo::first-letter {
    font-size: 2em;
    color: white;
}
.logo:hover{
    color:white;
    cursor:pointer;

}
.navigation-align{

width: 250px;   
}

header ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 10px;
}
header li a{
    text-decoration: none;
    color:white;
    
    
}
header ul li{
    
    list-style: none;
    

}
header button{
    background-color:var(--primarycolor);
    border-radius: 8px 0px 8px 0px;
    padding:9px;
    color:#FFF;
    border:1px solid var(--textcolor);
    


}
header button:hover{
    background-color: var(--textcolor);
    color:var(--primarycolor);
    transition-delay: 0.5ms;
    cursor: pointer;
}
header ul li a:hover{
    color:#12bdff;
    font-family: var(--primaryfont);

}

/* body section starting */
section.hero-section{
    display: flex;
    justify-content: space-around;
    background-color: #1b1f24;
    color: white;
    align-items: center;
    padding:20px 120px 0 120px;
    

   
}
img{
    width: 600;
    height: 600px;
}
.hero-section__title{

    font-size: 48px;
    font-weight: 500;
}
ul.social-icons{
    list-style: none;
    color:white;
    display: flex;
}
.hero-section__desc{
color:azure;
line-height: 30px;
font-family: var(--primaryfont);
font-size: 20px ;
}
/* section in logo design */
section ul li>a{
    color: #FFF;
    text-decoration: none;
    margin:20px 10px 20px 10px;

}
section ul li>a.fa-facebook:hover{
    color:#3b5998;
}
section ul li>a.fa-instagram:hover{
    color:  #fa7e1e;
}
section ul li>a.fa-linkedin:hover{
    color:#0072b1;
}
section ul li>a.fa-twitter:hover{
    color:#0072b1;
}
/* end ......section in logo design */
/* here start button styleing */
.btn{
    padding: 10px;
    background-color: var(--textcolor);
    color:white;
    border:1px solid var(--textcolor);
    border-radius: 5px;
    margin-right: 10px;

}
.btn:hover{
    color:black;
    
}
